@font-face {
  font-family: OzCaramel;
  src: url("../../assets/OzCaramel.ttf");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active {
  color: inherit;
}

a:focus {
  outline: none;
  outline-offset: 0;
}
