@font-face {
  font-family: OzCaramel;
  src: url("assets/OzCaramel.ttf");
}

body {
  margin: 0;
  font-family: OzCaramel, sans-serif;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}
